.title {
    color: #3c3c3c;
    font-size: 40px;
    font-weight: 300;
    line-height: 55px;
    letter-spacing: -0.74px;
    position: relative;
    text-align: center;
    &:before {
        content: "";
        position: absolute;
        background-image: url("img/icons/decoration.png");
        background-repeat: no-repeat;
        left: 50%;
        transform: translateX(-50%);
        bottom: -40px;
        width: 253px;
        height: 33px;
    }
}
