/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "orangejuice";

    src: url("fonts/") format("woff"), /* Modern Browsers */ url("./fonts/orangejuice20.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
