$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
// @include adaptiv-font( , );
// ==============================================================================================================================================

$width: 1920px;
$height: 1080px;

@function toVw($px) {
	@return $px/$width * 100vw;
}

@function toVh($px) {
	@return $px/$height * 100vh;
}
// width: toVm($px);
// ==============================================================================================================================================
// ==============================================================================================================================================

html {
	scroll-behavior: smooth;
}

// ===============================================================================================================================================

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

// ===============IBG================================================================================================================================

.ibg img {
	display: none;
}

// ==================TABS============================================================================================================================

.tab-item {
	display: none;
	&.active {
		display: block;
	}
}

.tab-link {
	cursor: pointer;
}

// ==============Fullscreen==========================================================================================================================

html,
body {
	height: 100%;
}
.wrapper{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.fullscreen{
	min-height: 100vh;
	display: flex;
}
// ===============================================================================================================================================

// ===============================================================================================================================================

// ===============================================================================================================================================

// ===============================================================================================================================================
