$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
// @include adaptiv-font( , );
// ==============================================================================================================================================

$width: 1920px;
$height: 1080px;

@function toVw($px) {
	@return $px/$width * 100vw;
}

@function toVh($px) {
	@return $px/$height * 100vh;
}
// width: toVm($px);
// ==============================================================================================================================================
// ==============================================================================================================================================

html {
	scroll-behavior: smooth;
}

// ===============================================================================================================================================

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

// ===============IBG================================================================================================================================

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

// ==================TABS============================================================================================================================

.tab__item {
	display: none;
	&.active {
		display: block;
	}
}

._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}

// ==============Fullscreen==========================================================================================================================

html,
body {
	height: 100%;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.fullscreen {
	min-height: 100vh;
	display: flex;
}
// ===============================================================================================================================================

// ===============================================================================================================================================

// ===============================================================================================================================================

// ===============================================================================================================================================
