// ===============IBG================================================================================================================================

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

// ==================TABS============================================================================================================================

.tab__item {
	display: none;
	&.active {
		display: block;
	}
}

._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}

// ==============Fullscreen==========================================================================================================================

html,
body {
	height: 100%;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.fullscreen {
	min-height: 100vh;
	display: flex;
}

// ========================================================================================================================================

// ========================================================================================================================================

// ========================================================================================================================================

// ========================================================================================================================================

// ========================================================================================================================================

